.i-list-title {
  list-style: none;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0.5em;
}

.i-list-item {
  margin: 0.4em 0;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
  &:before {
    margin: 0 0.5em 0 0;
  }
}

.i-list-circle {
  .i-list-item {
    position: relative;
    &:before {
      display: inline-block;
      content: "●";
    }
  }
}
.i-list-number {
  counter-reset: count;
  .i-list-item {
    counter-increment: count;
    &:before {
      content: counter(count);
    }
  }
}

.i-list-label {
  margin-right: 1em;
  width: var(--label-width);
  flex-shrink: 0;
}
