.i-list-title {
	list-style: none;
	font-weight: 600;
	font-size: 1.12em;
	margin-bottom: 0.5em;
}

.i-list-item {
	display: flex;
	flex-shrink: 0;
	margin: 0.4em 0;
	border-radius: var(--radius);
	&:before {
		margin: 0 0.5em 0 0;
	}
	&.active {
		color: var(--color-main);
	}
}

.i-list-option {
	.i-list-item {
		margin: 0;
		padding: var(--padding);
		cursor: pointer;
		transition: var(--transition);
		color: var(--color-2);
		&:hover {
			background: var(--background-opacity-1);
			color: var(--color-main-1);
		}
		&.active {
			background: var(--color-main-slight);
		}
	}
	.i-list-content {
		display: flex;
		flex: 1;
	}
}

.i-list-circle {
	.i-list-item {
		position: relative;
		&:before {
			display: inline-block;
			content: "â—";
		}
	}
}
.i-list-number {
	counter-reset: count;
	.i-list-item {
		counter-increment: count;
		&:before {
			content: counters(count, ".", decimal);
		}
	}
}
.i-list-leading-zero {
	counter-reset: count;
	.i-list-item {
		counter-increment: count;
		&:before {
			content: counters(count, ".", decimal-leading-zero);
		}
	}
}

.i-list-label {
	margin-right: 0.5em;
	width: var(--label-width);
	text-align: var(--label-align);
	flex-shrink: 0;
	display: flex;
	align-items: center;
	> svg {
		width: 1.2em;
		height: 1.2em;
	}
}
