.i-btn {
    --background: var(--color-main);
    --background-hover: var(--color-main-1);
    --color: var(--color-main-reverse);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 2.25em;
    border-radius: var(--radius);
    border: 2px solid transparent;
    transition: var(--transition);
    user-select: none;
    cursor: pointer;
    align-self: center;
    white-space: nowrap;
    outline: none;
    font-weight: 500;
    background: var(--background);
    color: var(--color);
    .i-ripple-container {
        inset: -2px;
    }
}
.i-btn-block {
    width: 100%;
}
.i-btn-square {
    padding: 0;
    width: 2.25em;
}
.i-btn-large {
    font-size: 1.5em;
}
.i-btn-extreme {
    font-size: 2em;
}
.i-btn-small {
    font-size: 0.8em;
    padding: 0 0.5em;
}
.i-btn:hover {
    background: var(--background-hover);
}
.i-btn-flat {
    --background-hover: var(--color-main-slight);
    --color: var(--color-main);
    &.i-btn {
        --background: transparent;
    }
}
.i-btn-outline {
    --background-hover: var(--color-main-slight);
    --color: var(--color-main);
    &.i-btn {
        --background: transparent;
        border-color: var(--color);
    }
}
.i-btn.i-btn-outline:hover,
.i-btn.i-btn-flat:hover {
    --background: var(--background-hover);
}
.i-btn-content {
    align-self: center;
}
.i-btn-loading {
    color: transparent !important;
    > .i-loading-icon {
        opacity: 1;
        animation: loading 1s linear infinite;
    }
}
