$colors: (
    "white": #ffffff,
    "black": #000000,
    "red": #dc143c,
    "blue": #1e90ff,
    "green": #3cb371,
    "yellow": #ffc549,
    "grey": #d7d7d7,
    "pink": #ff69b4,
    "purple": #8a2be2,
);

:root {
    --background: #fff;
    --background-2: #efeef1;
    --background-opacity: rgba(255, 255, 255, 0.81);
    --background-opacity-1: rgba(233, 233, 233, 0.6);

    --color-main: #212121;
    --color-main-1: #343434;
    --color-main-2: #8a8a8a;
    --color-main-slight: #ededed;
    --color-main-reverse: #fff;

    --color: #212121;
    --color-1: #343434;
    --color-2: #8a8a8a;
    --color-slight: rgba(0, 0, 0, 0.1);

    @each $name, $value in $colors {
        --#{$name}: #{$value};

        @if ($name == "black") {
            --#{$name}-1: #{lighten($value, 12%)};
            --#{$name}-2: #{lighten($value, 16%)};
            --#{$name}-slight: #{lighten($value, 80%)};
        } @else if ($name == "red") {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 46%)};
        } @else if ($name == "blue") {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 40%)};
        } @else if ($name == "green") {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 40%)};
        } @else if ($name == "yellow") {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 24%)};
        } @else if ($name == "grey") {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 10%)};
        } @else if ($name == "pink") {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 24%)};
        } @else if ($name == "purple") {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 40%)};
        } @else {
            --#{$name}-1: #{darken($value, 4%)};
            --#{$name}-2: #{darken($value, 8%)};
            --#{$name}-slight: #{lighten($value, 24%)};
        }

        .#{$name} {
            --background-hover: var(--#{$name}-slight);
            --color: var(--#{$name});
            color: var(--color);
        }
        .#{$name}-1 {
            --background-hover: var(--#{$name}-slight);
            --color: var(--#{$name}-1);
            color: var(--color-1);
        }
        .#{$name}-2 {
            --background-hover: var(--#{$name}-slight);
            --color: var(--#{$name}-2);
            color: var(--color-2);
        }
        .#{$name}-slight {
            --color: var(--#{$name}-slight);
            color: var(--color);
        }

        .bg-#{$name} {
            --background: var(--#{$name});
            background: var(--#{$name});
        }
        .bg-#{$name}-1 {
            --background: var(--#{$name}-1);
            background: var(--#{$name}-1);
        }
        .bg-#{$name}-2 {
            --background: var(--#{$name}-2);
            background: var(--#{$name}-2);
        }
        .bg-#{$name}-slight {
            --background: var(--#{$name}-slight);
            --color: var(--black);
            background: var(--#{$name}-slight);
        }
        .bg-#{$name},
        .bg-#{$name}-1,
        .bg-#{$name}-2 {
            @if $name == "white" or $name == "grey" or $name == "yellow" {
                --color: var(--black);
                color: var(--color);
            } @else {
                --color: var(--white);
                color: var(--color);
            }
        }
        .bg-#{$name}:hover {
            --background: var(--#{$name}-1);
        }
    }
}

.bg-dim {
    background-color: var(--color-2);
}
.bg-slight {
    background-color: var(--color-slight);
    color: var(--black);
}
.slight {
    color: var(--color-slight);
}
.dim {
    color: var(--color-2);
}

@mixin themeDark() {
    --background: #212121;
    --background-2: #1a1a1a;
    --background-opacity: rgba(33, 33, 33, 0.8);
    --background-opacity-1: rgba(88, 88, 88, 0.4);
    --blur: blur(24px);

    --color-main: #1f8fff;
    --color-main-1: #2d96ff;
    --color-main-2: #1389ff;
    --color-main-slight: #c1e0ff11;
    --color-main-reverse: #fff;

    --color: #fff;
    --color-slight: rgba(255, 255, 255, 0.1);

    background: var(--background);
    color: var(--color);

    @each $name, $value in $colors {
        @if ($name == "black") {
            --#{$name}-slight: #{lighten($value, 20%)};
        } @else if ($name == "red") {
            --#{$name}-slight: #{darken($value, 36%)};
        } @else if ($name == "blue") {
            --#{$name}-slight: #{darken($value, 36%)};
        } @else if ($name == "green") {
            --#{$name}-slight: #{darken($value, 30%)};
        } @else if ($name == "yellow") {
            --#{$name}-slight: #{darken($value, 44%)};
        } @else if ($name == "grey") {
            --#{$name}-slight: #{darken($value, 40%)};
        } @else if ($name == "pink") {
            --#{$name}-slight: #{darken($value, 50%)};
        } @else if ($name == "purple") {
            --#{$name}-slight: #{darken($value, 40%)};
        } @else {
            --#{$name}-slight: #{darken($value, 50%)};
        }
        .bg-#{$name}-slight {
            --color: var(--white);
        }
    }

    .bg-slight {
        color: var(--white);
    }
}

.theme-dark {
    @include themeDark();
}

@media (prefers-color-scheme: dark) {
    .theme-auto {
        @include themeDark();
    }
}
