$colors: (
	"white": #ffffff,
	"black": #000000,
	"red": #dc143c,
	"blue": #1e90ff,
	"green": #3cb371,
	"yellow": #ffc549,
	"grey": #d7d7d7,
	"pink": #ff69b4,
	"purple": #8a2be2,
);

:root {
	--background: #fff;
	--background-opacity: #ffffffcf;
	--background-opacity-1: #e9e9e999;

	--color-main: #009f8a;
	--color-main-1: #008876;
	--color-main-2: #00bba2;
	--color-main-slight: #e6f9f7;
	--color-main-reverse: #fff;
	--color-slight: rgba(0, 0, 0, 0.1);

	.color-main {
		color: var(--color-main);
	}
	.background-main {
		background: var(--color-main);
		color: var(--color-main-reverse);
	}
	@for $i from 1 to 10 {
		--color-#{$i}: #{lighten(#000, (10.5% * $i))};
		.color-#{$i} {
			color: var(--color-#{$i});
		}
		.background-#{$i} {
			background: var(--color-#{$i});
			@if ($i < 5) {
				color: var(--white);
			}
		}
	}

	@each $name, $value in $colors {
		--#{$name}: #{$value};

		@if ($name == "black") {
			--#{$name}-1: #{lighten($value, 10%)};
			--#{$name}-2: #{lighten($value, 20%)};
			--#{$name}-slight: #{lighten($value, 80%)};
		} @else if ($name == "red") {
			--#{$name}-1: #{darken($value, 6%)};
			--#{$name}-2: #{lighten($value, 12%)};
			--#{$name}-slight: #{lighten($value, 46%)};
		} @else if ($name == "blue") {
			--#{$name}-1: #{darken($value, 8%)};
			--#{$name}-2: #{lighten($value, 8%)};
			--#{$name}-slight: #{lighten($value, 36%)};
		} @else if ($name == "green") {
			--#{$name}-1: #{darken($value, 4%)};
			--#{$name}-2: #{lighten($value, 8%)};
			--#{$name}-slight: #{lighten($value, 40%)};
		} @else if ($name == "yellow") {
			--#{$name}-1: #{darken($value, 8%)};
			--#{$name}-2: #{lighten($value, 8%)};
			--#{$name}-slight: #{lighten($value, 24%)};
		} @else if ($name == "grey") {
			--#{$name}-1: #{darken($value, 8%)};
			--#{$name}-2: #{lighten($value, 4%)};
			--#{$name}-slight: #{lighten($value, 12%)};
		} @else if ($name == "pink") {
			--#{$name}-1: #{darken($value, 4%)};
			--#{$name}-2: #{lighten($value, 8%)};
			--#{$name}-slight: #{lighten($value, 24%)};
		} @else if ($name == "purple") {
			--#{$name}-1: #{darken($value, 8%)};
			--#{$name}-2: #{lighten($value, 12%)};
			--#{$name}-slight: #{lighten($value, 40%)};
		} @else {
			--#{$name}-1: #{darken($value, 4%)};
			--#{$name}-2: #{darken($value, 8%)};
			--#{$name}-slight: #{lighten($value, 24%)};
		}

		.#{$name} {
			--background-hover: var(--#{$name}-slight);
			--color: var(--#{$name});
			color: var(--color);
		}
		.#{$name}-1 {
			--background-hover: var(--#{$name}-slight);
			--color: var(--#{$name}-1);
			color: var(--color-1);
		}
		.#{$name}-2 {
			--background-hover: var(--#{$name}-slight);
			--color: var(--#{$name}-2);
			color: var(--color-2);
		}
		.#{$name}-slight {
			--color: var(--#{$name}-slight);
			color: var(--color);
		}

		.bg-#{$name} {
			--background-hover: var(--#{$name}-2);
			--background: var(--#{$name});
			background: var(--#{$name});
		}
		.bg-#{$name}-1 {
			--background: var(--#{$name}-1);
			background: var(--#{$name}-1);
		}
		.bg-#{$name}-2 {
			--background: var(--#{$name}-2);
			background: var(--#{$name}-2);
		}
		.bg-#{$name}-slight {
			--background: var(--#{$name}-slight);
			--color: var(--black);
			background: var(--#{$name}-slight);
		}
		.bg-#{$name},
		.bg-#{$name}-1,
		.bg-#{$name}-2 {
			@if $name == "white" or $name == "grey" or $name == "yellow" {
				--color: var(--black);
				color: var(--color);
			} @else {
				--color: var(--white);
				color: var(--color);
			}
		}
		.bg-#{$name}:hover {
			--background-hover: var(--#{$name}-1);
		}
	}
}

.bg-slight {
	background-color: var(--color-slight);
	color: var(--black);
}
.slight {
	color: var(--color-8);
}

@mixin themeDark() {
	--background: #212121;
	--color: var(--color-1);
	--background-opacity: #212121cc;
	--background-opacity-1: #5e5e5e66;
	--blur: blur(24px);

	--color-main-slight: #243836;
	--color-slight: rgba(255, 255, 255, 0.1);

	background: var(--background);
	color: var(--color);

	@each $name, $value in $colors {
		@if ($name == "black") {
			--#{$name}-slight: rgba(0, 0, 0, 0.2);
		} @else if ($name == "red") {
			--#{$name}-slight: #4c3338;
		} @else if ($name == "blue") {
			--#{$name}-slight: #{darken($value, 36%)};
		} @else if ($name == "green") {
			--#{$name}-slight: #{darken($value, 30%)};
		} @else if ($name == "yellow") {
			--#{$name}-slight: #684f18;
		} @else if ($name == "grey") {
			--#{$name}-slight: #{darken($value, 40%)};
		} @else if ($name == "pink") {
			--#{$name}-slight: #402935;
		} @else if ($name == "purple") {
			--#{$name}-slight: #{darken($value, 40%)};
		} @else {
			--#{$name}-slight: #a1a1a1;
		}
		.bg-#{$name}-slight {
			--color: var(--white);
		}
	}

	@for $i from 1 to 10 {
		--color-#{$i}: #{darken(#fff, (9.5% * $i))};
		.background-#{$i} {
			@if ($i < 5) {
				color: var(--black);
			}
		}
	}

	.bg-slight {
		color: var(--white);
	}
}

.theme-dark {
	@include themeDark();
}

@media (prefers-color-scheme: dark) {
	.theme-auto {
		@include themeDark();
	}
}
