.flex {
    display: flex;
    flex: 1;
}
.flex-column {
    flex-direction: column;
}
.sticky {
    position: sticky;
    top: 0;
}
.text-center {
    text-align: center;
}
.justify-center {
    justify-content: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

.bg-blur {
    background: var(--background-opacity);
    backdrop-filter: var(--blur);
}
.rounded {
    border-radius: 200px;
}
.rounded-slight {
    border-radius: var(--radius);
}
.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.hidden {
    display: none !important;
}
kbd, .kbd, code, .code {
    display: inline-block;
    margin: 0 0.2em;
    padding: 0 0.4em;
    font-family: monospace;
    border-radius: 4px;
}
.code, code {
    background: var(--background-2);
}
kbd, .kbd {
    background-color: var(--white-slight);
    color: var(--black);
    border-right: 2px solid var(--grey-2);
    border-bottom: 3px solid var(--grey-2);
}

.v-loading-icon {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: inherit;
    color: var(--color);
    border-radius: inherit;
    pointer-events: none;
}
.v-loading-icon:before,
.v-loading-icon:after {
    content: "●";
    font-size: 1.5em;
    line-height: 1;
    transform: scale(0);
    transition: var(--transition);
}
.v-loading-icon:before {
    margin: auto -.5em auto 0;
    animation: loading 1s linear infinite;
}
.v-loading-icon:after {
    margin: auto 0 auto -.5em;
    opacity: 0.5;
    animation: loading 1s linear 0.15s infinite;
}

.mg-auto {
    margin: auto;
}
.mx-auto {
    margin-inline: auto;
}
.my-auto {
    margin-block: auto;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
@each $i in 4, 8, 12, 16, 20, 24, 32, 40, 60, 80, 120 {
    .mg-#{$i} {
        margin: #{$i}px;
    }
    .mx-#{$i} {
        margin-inline: #{$i}px;
    }
    .my-#{$i} {
        margin-block: #{$i}px;
    }
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
    .pd-#{$i} {
        padding: #{$i}px;
    }
    .px-#{$i} {
        padding-inline: #{$i}px;
    }
    .py-#{$i} {
        padding-block: #{$i}px;
    }
    .pl-#{$i} {
        padding-left: #{$i}px;
    }
    .pr-#{$i} {
        padding-right: #{$i}px;
    }
    .pt-#{$i} {
        padding-top: #{$i}px;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }
}

@media (min-width: #{$breakpoint-mobile}) {
    .mobile {
        display: none !important;
    }
}
@media (max-width: #{$breakpoint-mobile}) {
    .hidden-mobile {
        display: none !important;
    }
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}
@keyframes loading {
    50% {
      transform: scale(1);
    }
}