.i-select-label {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
	&.i-input-inline {
		flex-wrap: nowrap;
	}
	&:hover .i-input-item {
		background: var(--background-opacity);
		box-shadow: 0 0 0 3px var(--background-opacity-1);
	}
}

.i-input-clear {
	width: 0;
	height: 0;
	border-radius: var(--radius);
	transition: all 0.16s;
	transform: scale(0);
	opacity: 0.6;
	&.active {
		margin: auto 0.25em;
		width: 1em;
		height: 1em;
		transform: none;
	}
	&:hover {
		background: var(--background-opacity);
	}
}
.i-select-caret {
	width: 1.5em;
	height: 1.5em;
	margin: auto 0.25em auto 0;
	color: var(--color-2);
	transition: var(--transition);
}

.i-select {
	padding: 0.5em 0.8em;
	display: flex;
	gap: 0.4em;
	flex: 1;
	width: 100%;
	color: inherit;
	outline: none;
	transition: var(--transition);
	background: transparent;
	border-radius: inherit;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	&:hover,
	&:focus {
		background: var(--background-opacity);
	}

	&[type="number"]::-webkit-inner-spin-button,
	&[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
	&[type="number"] {
		text-align: center;
	}
	&[readonly] {
		caret-color: transparent;
	}
	&:disabled {
		cursor: not-allowed;
	}
	&.i-select-wrap {
		flex-wrap: wrap;
	}
}
.i-select-chips {
	padding: 0.4em;
}

.i-select-options {
	display: flex;
	flex-direction: column;
	max-height: 40vh;
	gap: 2px;
}
.i-select-option {
	.i-list-content {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&.disabled {
		order: 2;
	}
}
.i-select-holder {
	pointer-events: none;
	color: #757575;
	pointer-events: none;
	user-select: none;

	&:after {
		content: "\00a0";
		display: inline-block;
	}
}
.i-select-value {
	display: block;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.i-select-value-chip {
	padding: 0.05em 0.72em;
	font-size: 0.94em;
	background: var(--color-main);
	color: var(--color-main-reverse);
	border-radius: var(--radius);
	transition: var(--transition);
	&:hover {
		background: var(--color-main-1);
	}
	&.i-select-value-rest {
		background: var(--background-opacity);
		color: var(--color-main);
	}
}
