.i-input-label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    &.i-input-inline {
        flex-wrap: nowrap;
    }
}

.i-input-label-text {
    margin-right: 0.5em;
    width: var(--label-width);
    padding: var(--padding);
    border-radius: inherit;
    text-align: var(--label-align);
}

.i-input-item {
    width: 100%;
    display: flex;
    align-items: baseline;
    background: var(--background-opacity-1);
    transition: var(--transition);
    border-radius: var(--radius);
    .i-btn {
        align-self: stretch;
    }
    &:hover,
    &:focus-within {
        box-shadow: 0 0 0 3px var(--background-opacity-1);
    }
    &.i-input-success {
        box-shadow: 0 0 0 3px var(--green-slight);
    }
    &.i-input-warning {
        box-shadow: 0 0 0 3px var(--yellow-slight);
    }
    &.i-input-error {
        box-shadow: 0 0 0 3px var(--red-slight);
    }
}

.i-input {
    padding: 0.4em 0.8em;
    flex: 1;
    width: 100%;
    color: inherit;
    outline: none;
    transition: var(--transition);
    background: transparent;
    border-radius: inherit;

    &:focus,
    &:hover {
        background: var(--background-opacity);
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    &[type="number"] {
        text-align: center;
    }
    &[readonly] {
        caret-color: transparent;
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.i-input-message {
    position: absolute;
    z-index: 1;
    padding: 0 1em;
    font-size: 0.6em;
    bottom: 0;
    right: 6%;
    transform: translate(0, 50%);
    background: var(--background-opacity);
    backdrop-filter: blur(4px);
    border-radius: 0.5em;
    pointer-events: none;
    box-shadow: 4px 8px 8px var(--background-opacity);
}
.i-input-success {
    .i-input-message {
        color: var(--green-2);
    }
}
.i-input-warning {
    .i-input-message {
        color: var(--yellow-2);
    }
}
.i-input-error {
    .i-input-message {
        color: var(--red-2);
    }
}

textarea.i-input {
    display: block;
    transition: var(--transition), width 0s, height 0s;
    max-width: 100%;
    resize: none;
}
