.i-input-label {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
	&.i-input-inline {
		flex-wrap: nowrap;
	}
	&:hover .i-input-item {
		box-shadow: 0 0 0 3px var(--background-opacity-1);
	}
}

.i-input-clear {
	width: 0;
	height: 0;
	border-radius: var(--radius);
	transition: transform 0.16s;
	transform: scale(0);
	color: var(--color-2);
	&.active {
		margin: auto 4px;
		width: 1.2em;
		height: 1.2em;
		transform: none;
	}
	&:hover {
		background: var(--background-opacity);
	}
}

.i-input-plus,
.i-input-minus {
	width: 1.2em;
	height: 1em;
	opacity: 0.6;
	transition: opacity 0.16s;
	border-radius: var(--radius);
	&:hover {
		opacity: 1;
		background: var(--background-opacity);
		color: var(--color-main);
	}
}

.i-input,
.i-textarea {
	padding: 0.4em 0.8em;
	flex: 1;
	width: 100%;
	color: inherit;
	outline: none;
	transition: var(--transition);
	background: transparent;
	border-radius: inherit;

	&:focus,
	&:hover {
		background: var(--background-opacity);
	}

	&[readonly] {
		caret-color: transparent;
	}
	&:disabled {
		cursor: not-allowed;
	}
}
.i-input {
	&[type="number"]::-webkit-inner-spin-button,
	&[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
	&[type="number"] {
		text-align: center;
	}
}

.i-textarea {
	display: block;
	transition: var(--transition), width 0s, height 0s;
	max-width: 100%;
}
